@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Code+Pro');

body {
    font-family: 'Open Sans';
}

h1, h2, h3 {
    font-weight: normal;
}

.remark-code, .remark-inline-code {
    font-family: 'Source Code Pro';
    background: #F0F0F0;
}

.remark-slide-content {
    font-size: 150%;
}

li {
    margin: 10px 0;
}

.pull-left {
  float: left;
  width: 47%;
}

.pull-right {
  float: right;
  width: 47%;
}

code.text {
    background: #F0F0F0;
    display: block;
    overflow-x: auto;
    padding: .5em;
}